#map-container {
  margin: 0;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  background-color: #04041b;
  width: 100%;
  min-width: 400px;
  height: 100%;
}

.ol-click-popup {
  position: absolute;
  background-color: white;
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.2);
  padding: 15px;
  border-radius: 10px;
  border: 1px solid #cccccc;
  bottom: 12px;
  left: -50px;
  min-width: 150px;
}

.ol-click-popup:after,
.ol-popup:before {
  top: 100%;
  border: solid transparent;
  content: ' ';
  height: 0;
  width: 0;
  position: absolute;
  pointer-events: none;
}

.ol-click-popup:after {
  border-top-color: white;
  border-width: 10px;
  left: 48px;
  margin-left: -10px;
}

.ol-click-popup:before {
  border-top-color: #cccccc;
  border-width: 11px;
  left: 48px;
  margin-left: -11px;
}

.ol-click-popup-closer {
  text-decoration: none;
  position: absolute;
  top: 2px;
  right: 8px;
}

.ol-click-popup-closer:after {
  content: '✖';
}

.ol-control button {
  background-color: #969494 !important;
  color: white;
}

.ol-control button[title='Collapse legend'] {
  border-radius: 5px;
  padding-right: 2.6rem;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='none' viewBox='0 0 24 24' stroke-width='1.5' stroke='white' class='w-6 h-6'%3E%3Cpath stroke-linecap='round' stroke-linejoin='round' d='M6 18L18 6M6 6l12 12' /%3E%3C/svg%3E%0A") !important;
}

.ol-control button:hover {
  background-color: #817f7f !important;
  cursor: pointer;
}

.layer-switcher:not(.shown) button {
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24' fill='white' class='w-6 h-6'%3E%3Cpath d='M11.644 1.59a.75.75 0 01.712 0l9.75 5.25a.75.75 0 010 1.32l-9.75 5.25a.75.75 0 01-.712 0l-9.75-5.25a.75.75 0 010-1.32l9.75-5.25z' /%3E%3Cpath d='M3.265 10.602l7.668 4.129a2.25 2.25 0 002.134 0l7.668-4.13 1.37.739a.75.75 0 010 1.32l-9.75 5.25a.75.75 0 01-.71 0l-9.75-5.25a.75.75 0 010-1.32l1.37-.738z' /%3E%3Cpath d='M10.933 19.231l-7.668-4.13-1.37.739a.75.75 0 000 1.32l9.75 5.25c.221.12.489.12.71 0l9.75-5.25a.75.75 0 000-1.32l-1.37-.738-7.668 4.13a2.25 2.25 0 01-2.134-.001z' /%3E%3C/svg%3E%0A") !important;
  padding-right: 2.7rem;
}

.ol-unselectable.ol-control.layer-switcher {
  margin-right: 5%;
}

.ol-unselectable.ol-control.layer-switcher .panel {
  border-radius: 15px;
}

button.ol-zoom-in,
button.ol-zoom-out {
  position: fixed;
  width: 1.8rem;
  height: 1.8rem;
}

button.ol-zoom-in {
  bottom: 16%;
  right: 5%;
}

button.ol-zoom-out {
  bottom: 11.8%;
  right: 5%;
}

@media only screen and (min-device-width: 200px) and (max-device-width: 900px) {
  .ol-unselectable.ol-control.layer-switcher {
    position: absolute;
    top: 17rem;
    right: 1rem;
    font-size: small;
  }

  button.ol-zoom-in,
  button.ol-zoom-out {
    visibility: hidden;
  }

  .MuiContainer-root {
    max-height: 225px;
  }

  .ol-attribution.ol-unselectable.ol-control.ol-uncollapsible {
    display: none;
  }

  div#attribution_icon{
    display: flex !important;
  }
}

#layers {
  position: absolute;
  top: 1rem;
  right: 1rem;
}

#layers a {
  display: inline-block;
  padding: 0.5rem;
  background: white;
  cursor: pointer;
}

input[type='radio'] {
  accent-color: dodgerblue;
  height: 1.5rem !important;
}

.layer-switcher .group button {
  margin-top: 0.3rem;
}
